@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
}

html,
body,
#__next {
    height: 100%;
}

body {
    @apply bg-white text-black antialiased transition-colors duration-300;
}

html.dark body {
    @apply bg-black text-white;
}

* {
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
}